@model LojaVirtual.Models.Produto

<h3> Produto -> Visualizar com View</h3>

<br />

<b>Id:</b> @Model.Id<br />
<b>Nome:</b> @Model.Nome<br />
<b>Descricao:</b> @Model.Descricao<br />
<b>Valor:</b> @Model.Valor.ToString("C")<br />